$btn-color: #fff;
$btn-bg-color: #0d6efd;
$btn-bd-color: #0d6efd;
$btn-hv-color: #0d6efd;
$text-border-color: #17d3e8;
$task-completed: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgb(22, 152, 4);
$task-completed-hv: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgb(38, 152, 4);
$task-incomplete: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgb(152, 21, 4);
$task-incomplete-hv: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgb(152, 46, 4);

.App {
    .Header {
        display: flex;
        justify-content: space-between;
        padding: 3px 10px 3px 10px;

        img {
            max-height: 50px;
            max-width: 50px;
        }

        .header-body {
            display: flex;
            align-items: center;
            gap: 5px;

            a {
                text-decoration: none;
                color: $text-border-color;
                font-size: 1.5rem;
            }
        }
    }

    .AddTask {
        form {
            display: flex;
            justify-content: space-evenly;

            input {
                width: 100%;
                text-decoration: none;
                border: .6px solid #c1c1c1;
                border-radius: 0.375rem;
                padding: 0.375rem 2.25rem 0.375rem 0.75rem;
                color: #4c4c4c;
                letter-spacing: .7px;

                &::placeholder {
                    font-weight: 500;
                }

                &:focus {
                    outline: none !important;
                    border: 1px solid #afc9f1;
                    box-shadow: 0 0 5px #afc9f1;
                }
            }

            .btn-list {
                display: flex;
                width: 100%;
                justify-content: end;
                gap: 5px;

                .status {
                    padding: 0.375rem 0.45rem 0.375rem 0.45rem;
                    border-radius: 0.375rem;
                    letter-spacing: 0.6px;
                    font-weight: 400;
                    font-size: 1rem;
                    text-decoration: none;
                    line-height: 1.5rem;
                    color: #4c4c4c;
                    border: 1px solid #c1c1c1;

                    &:focus {
                        outline: none !important;
                        border-color: #4c4c4c;
                    }
                }
            }
        }
    }

    .Task,
    .AddTask {
        border: 1px solid $text-border-color;
        border-radius: 0.375rem;
        padding: 10px;
        margin: 10px;

        .Header {
            display: flex;
            justify-content: space-between;
            align-items: center;

            h1 {
                color: $text-border-color;
            }
        }

        ul {
            display: flex;
            gap: 5px;
            flex-flow: column;
            margin: 0px;
            padding: 0px;

            li {
                display: flex;
                list-style: none;
                list-style-type: none;
                align-items: center;
                justify-content: space-between;
                transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
                padding: 4.5px;
                border-radius: 0.375rem;


                &.completed {
                    box-shadow: $task-completed;

                    &:hover {
                        box-shadow: $task-completed-hv;
                    }
                }

                &.incomplete {
                    box-shadow: $task-incomplete;

                    &:hover {
                        box-shadow: $task-incomplete-hv;
                    }
                }

                span {
                    letter-spacing: .4px;
                }
            }
        }
    }

    .btn {
        border: 1px solid $btn-bd-color;
        border-radius: 0.375rem;
        letter-spacing: .6px;
        color: #fff;
        background: $btn-bg-color;
        padding: 0.375rem 0.75rem 0.375rem 0.75rem;
        font-weight: 400;
        font-size: 1rem;
        text-decoration: none;
        text-align: center;
        line-height: 1.5rem;
        transition: color .15s ease-in-out, background .15s ease-in-out;

        &:hover {
            color: $btn-hv-color;
            background: $btn-color;
            cursor: pointer;
        }
    }

    .reset {
        background: rgb(152, 21, 4);
        color: #fff;
        border-color: rgb(152, 21, 4);

        &:hover {
            color: rgb(152, 21, 4);
            background: #fff;
            cursor: pointer;
        }
    }
}